*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 218, 78);
    height: 90px;
    align-items: center;
    padding: 0 5rem;
    
    & .logo{
        & a{
            color: blanchedalmond;
            text-decoration: none;
            font-size: 3rem;
        }
    }

    & ul.menu{
        display: flex;
        list-style: none;

        & li{
            margin: 0 1rem;
            & a{
                color: azure;
                text-decoration: none;
            }
        }
    }
    @media screen and (max-width: 450px) {
        flex-direction: column;
        height: auto;
        padding: 3rem 0;

        & .menu{
            margin-top: 2rem;
            flex-direction: column;
            align-items: center;
        }
    }
}
.banner{
    height: 1000px;
    background-image: url("https://f.ptcdn.info/854/080/000/rw4gh72gk4sgY5hl8tSlM-o.jpg");
    background-position: center;
    background-size: cover;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .welcome-img{
        height: 400px;
        width: 300px;
        background-position: center;
        background-size: cover;
        
    }
}
footer{
    
}