/* ตั้งค่าขอบและช่องว่างเป็นศูนย์สำหรับทุกองค์ประกอบ */
* {
  margin: 0; /* ลบ margin ทั้งหมด */
  padding: 0; /* ลบ padding ทั้งหมด */
  box-sizing: border-box; /* รวมขนาดขอบและ padding ในการคำนวณความกว้างและความสูง */
}

/* กำหนดสีพื้นหลังของหน้าเว็บ */
body {
  background-color: #000; /* สีพื้นหลังดำ */
}

/* สไตล์สำหรับแถบนำทาง (navigation) */
nav {
  display: flex; /* ใช้ Flexbox ในการจัดวางองค์ประกอบภายใน */
  justify-content: space-between; /* กระจายองค์ประกอบให้ห่างกัน */
  /* border: 1px solid red; */ /* เส้นขอบแบบแดง (ถูกคอมเมนต์ไว้) */
  padding: 10px; /* กำหนดช่องว่างภายใน 10px */
  font-weight: bold; /* ตัวหนา */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */
  background-color: #757474; /* สีพื้นหลังเทาเข้ม */
  height: 90px; /* ความสูงของแถบนำทาง */
  font-size: 20px; /* ขนาดตัวอักษร */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
  padding: 0 3rem; /* กำหนดช่องว่างด้านซ้ายและขวา 3rem */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-weight: 1000; /* ตัวหนามากขึ้น */
    font-size: 10px; /* ขนาดตัวอักษรเล็กลง */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    font-family: cursive; /* ใช้ฟอนต์แบบเขียนมือ */
  }
}

/* สไตล์สำหรับโลโก้ภายในแถบนำทาง */
& .logo {
  & img {
    height: 80px; /* ความสูงของภาพโลโก้ */
    width: 130px; /* ความกว้างของภาพโลโก้ */
    background-position: center; /* ตำแหน่งพื้นหลังกึ่งกลาง */
    background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
  }
}

/* สไตล์สำหรับเมนู */
.menu {
  display: flex; /* ใช้ Flexbox ในการจัดวางเมนู */
  list-style: none; /* ลบสัญลักษณ์รายการ */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
}

/* สไตล์สำหรับรายการในเมนู */
.menu li {
  margin: 0 1rem; /* ช่องว่างด้านซ้ายและขวา 1rem */
  & a {
    color: azure; /* สีข้อความเป็น Azure */
    text-decoration: none; /* ไม่มีขีดเส้นใต้ */
  }
}

/* เริ่มสไตล์สำหรับแบนเนอร์ */
.banner {
  height: 800px; /* ความสูงของแบนเนอร์ */
  background-image: url("https://www.kmutnb.ac.th/getattachment/life-in-the-university/bangkok/g.jpg.aspx"); /* รูปภาพพื้นหลัง */
  background-position: center; /* ตำแหน่งพื้นหลังกึ่งกลาง */
  background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */
  color: #000; /* สีข้อความดำ */
  font-weight: bold; /* ตัวหนา */
  font-size: 20px; /* ขนาดตัวอักษร */
  display: flex; /* ใช้ Flexbox ในการจัดวางองค์ประกอบภายใน */
  /* align-items: center; */ /* จัดวางแนวตั้งให้อยู่กึ่งกลาง (ถูกคอมเมนต์ไว้) */
  justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-size: 15px; /* ขนาดตัวอักษรเล็กลง */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
  }
}

/* สไตล์สำหรับภาพในแบนเนอร์ */
.banner-text img {
  height: 300px; /* ความสูงของภาพ */
  width: 300px; /* ความกว้างของภาพ */
  border-radius: 100%; /* มุมโค้งมนเต็มวงกลม */
  background-position: center; /* ตำแหน่งพื้นหลังกึ่งกลาง */
  background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
}

/* สไตล์สำหรับข้อความในแบนเนอร์ */
.banner-text {
  margin-top: 2rem; /* ช่องว่างด้านบน 2rem */
  flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
}

/* สไตล์สำหรับส่วนหลักของหน้าเว็บ */
main {
  display: grid; /* ใช้ Grid Layout ในการจัดวาง */
  grid-template-columns: 1fr 1fr; /* สองคอลัมน์ที่มีขนาดเท่ากัน */
  background-color: antiquewhite; /* สีพื้นหลัง */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    display: grid; /* ยังคงใช้ Grid Layout */
    grid-template-columns: 1fr; /* หนึ่งคอลัมน์ */
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-size: 15px; /* ขนาดตัวอักษรเล็กลง */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */

    & .main img {
      width: 20px; /* ความกว้างของภาพเล็กลง */
      height: 20px; /* ความสูงของภาพเล็กลง */
    }
  }
}

/* สิ้นสุดสไตล์สำหรับแบนเนอร์ */

/* เริ่มสไตล์สำหรับส่วนหลัก */
main img {
  width: 100%; /* ความกว้างเต็มพื้นที่ */
  border-radius: 20px; /* มุมโค้งมนรอบขอบ */
  width: 200px; /* ความกว้างของภาพ */
}

main div {
  padding: 20px; /* ช่องว่างภายใน 20px */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
  justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
}

main div p {
  margin-top: 10px; /* ช่องว่างด้านบน 10px */
}
/* สิ้นสุดสไตล์สำหรับส่วนหลัก */

/* สไตล์สำหรับแบนเนอร์ที่สอง */
.banner2 {
  height: 600px; /* ความสูงของแบนเนอร์ */
  background-image: url("/image1/460295194_1665951254326288_6171318634269149428_n.jpg"); /* รูปภาพพื้นหลัง */
  background-position: center; /* ตำแหน่งพื้นหลังกึ่งกลาง */
  background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
  color: #000; /* สีข้อความดำ */
  font-weight: bold; /* ตัวหนา */
  font-size: 20px; /* ขนาดตัวอักษร */
  display: flex; /* ใช้ Flexbox ในการจัดวางองค์ประกอบภายใน */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
  justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
  font-family: cursive; /* ใช้ฟอนต์แบบเขียนมือ */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-size: 15px; /* ขนาดตัวอักษรเล็กลง */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
  }
}

/* สไตล์สำหรับภาพในแบนเนอร์ที่สอง */
.banner2-text img {
  height: 400px; /* ความสูงของภาพ */
  width: 300px; /* ความกว้างของภาพ */
  border-radius: 20px; /* มุมโค้งมนรอบขอบ */
  background-position: center; /* ตำแหน่งพื้นหลังกึ่งกลาง */
  background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
}

/* สไตล์สำหรับข้อความในแบนเนอร์ที่สอง */
.banner2-text {
  margin-top: 2rem; /* ช่องว่างด้านบน 2rem */
  flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
}

/* สไตล์สำหรับส่วนบล็อก */
.blog {
  display: grid; /* ใช้ Grid Layout ในการจัดวาง */
  grid-template-columns: 1fr 1fr; /* สองคอลัมน์ที่มีขนาดเท่ากัน */
  background-color: #e7cfdc; /* สีพื้นหลัง */
  flex-wrap: wrap; /* อนุญาตให้ห่อองค์ประกอบเมื่อไม่พอพื้นที่ */
  justify-content: space-between; /* กระจายองค์ประกอบให้ห่างกัน */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    display: grid; /* ยังคงใช้ Grid Layout */
    grid-template-columns: 1fr; /* หนึ่งคอลัมน์ */
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-size: 15px; /* ขนาดตัวอักษรเล็กลง */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
  }
}

/* สไตล์สำหรับภาพในบล็อก */
.blog img {
  width: 100%; /* ความกว้างเต็มพื้นที่ */
  margin-bottom: 10px; /* ช่องว่างด้านล่าง 10px */
  border-radius: 20px; /* มุมโค้งมนรอบขอบ */
  width: 200px; /* ความกว้างของภาพ */
}

/* สไตล์สำหรับเนื้อหาในบล็อก */
.blog div {
  padding: 20px; /* ช่องว่างภายใน 20px */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
  justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
}

.blog div p {
  margin-top: 10px; /* ช่องว่างด้านบน 10px */
}

/* สไตล์สำหรับแบนเนอร์ที่สาม */
.banner3 {
  height: 600px; /* ความสูงของแบนเนอร์ */
  background-image: url("/image1/1112.jpg"); /* รูปภาพพื้นหลัง */
  background-position: center; /* ตำแหน่งพื้นหลังกึ่งกลาง */
  background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
  color: #000; /* สีข้อความดำ */
  font-weight: bold; /* ตัวหนา */
  font-size: 20px; /* ขนาดตัวอักษร */
  display: flex; /* ใช้ Flexbox ในการจัดวางองค์ประกอบภายใน */
  /* align-items: center; */ /* จัดวางแนวตั้งให้อยู่กึ่งกลาง (ถูกคอมเมนต์ไว้) */
  justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-size: 10px; /* ขนาดตัวอักษรเล็กลง */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
  }
}

/* สไตล์สำหรับภาพในแบนเนอร์ที่สาม */
.banner3-text img {
  height: 400px; /* ความสูงของภาพ */
  width: 300px; /* ความกว้างของภาพ */
  border-radius: 20px; /* มุมโค้งมนรอบขอบ */
  background-position: center; /* ตำแหน่งพื้นหลังกึ่งกลาง */
  background-size: cover; /* ปรับขนาดพื้นหลังให้เต็มพื้นที่ */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
}

/* สไตล์สำหรับข้อความในแบนเนอร์ที่สาม */
.banner3-text {
  margin-top: 2rem; /* ช่องว่างด้านบน 2rem */
  flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
}

/* สไตล์สำหรับกล่อง */
.box {
  display: grid; /* ใช้ Grid Layout ในการจัดวาง */
  grid-template-columns: 1fr; /* หนึ่งคอลัมน์ */
  background-color: rgb(146, 196, 198); /* สีพื้นหลัง */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */
  flex-wrap: wrap; /* อนุญาตให้ห่อองค์ประกอบเมื่อไม่พอพื้นที่ */
  justify-content: space-between; /* กระจายองค์ประกอบให้ห่างกัน */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    display: grid; /* ยังคงใช้ Grid Layout */
    grid-template-columns: 1fr; /* หนึ่งคอลัมน์ */
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-size: 15px; /* ขนาดตัวอักษรเล็กลง */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
  }
}

/* สไตล์สำหรับภาพในกล่อง */
.box img {
  width: 100%; /* ความกว้างเต็มพื้นที่ */
  margin-bottom: 10px; /* ช่องว่างด้านล่าง 10px */
  border-radius: 20px; /* มุมโค้งมนรอบขอบ */
  width: 200px; /* ความกว้างของภาพ */
}

/* สไตล์สำหรับเนื้อหาในกล่อง */
.box div {
  padding: 20px; /* ช่องว่างภายใน 20px */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
  justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
}

.box div p {
  margin-top: 10px; /* ช่องว่างด้านบน 10px */
}

/* สไตล์สำหรับฟุตเตอร์ (ส่วนท้ายของหน้าเว็บ) */
footer {
  display: flex; /* ใช้ Flexbox ในการจัดวางองค์ประกอบภายใน */
  justify-content: space-between; /* กระจายองค์ประกอบให้ห่างกัน */
  background-color: #757474; /* สีพื้นหลังเทาเข้ม */
  height: 50px; /* ความสูงของฟุตเตอร์ */
  align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
  justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
  padding: 0 5rem; /* ช่องว่างด้านซ้ายและขวา 5rem */
  font-size: 10px; /* ขนาดตัวอักษรเล็ก */
  border-radius: 15px; /* มุมโค้งมนรอบขอบ */
  border: 5px solid black; /* ขอบหนา 5px สีดำ */
  font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */

  /* สไตล์สำหรับหน้าจอที่มีความกว้างไม่เกิน 700px */
  @media screen and (max-width: 700px) {
    flex-direction: column; /* จัดเรียงองค์ประกอบในแนวตั้ง */
    height: auto; /* ปรับความสูงอัตโนมัติ */
    font-size: 10px; /* ขนาดตัวอักษรเล็ก */
    padding-bottom: 1rem; /* ช่องว่างด้านล่าง 1rem */
    align-items: center; /* จัดวางแนวตั้งให้อยู่กึ่งกลาง */
    justify-content: center; /* จัดวางแนวนอนให้อยู่กึ่งกลาง */
    font-family: "Courier New", Courier, monospace; /* ใช้ฟอนต์ Courier New */
  }
}
